/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato&family=Montserrat&display=swap");
@import "https://use.fontawesome.com/releases/v5.15.2/css/all.css";

body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: black;
}