/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato&family=Montserrat&display=swap");
@import "https://use.fontawesome.com/releases/v5.15.2/css/all.css";

.content-wrapper {
  margin-bottom: 200px !important;
}

.content-wrapper .centered {
  margin: 0 auto;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: black;
}

/* Form Styles  */
.form-container {
  max-width: 30%;
  border-radius: 5px;
  background-color: #f2f2f244;
  padding: 20px;
  margin: 50px auto;
}

form {
  text-align: center;
}

input[type=text], input[type=password], input[type=email], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: rgb(255, 179, 0);
  color: black;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
}

label {
  color: rgb(255, 179, 0);
  font-size: 24px;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: black;
  color: rgb(255, 179, 0);
}